<!DOCTYPE html>
<html>
<head>
    <title>Expensive Products Report</title>
</head>
<body>
    <h1>Expensive Products Report</h1>
    <table border="1">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>